Acquisition==4.0
Brlapi==0.6.1
Cython==0.20.2
DateTime==4.0.1
Django==1.7
ExtensionClass==4.1a1
Flask==0.10.1
Gato==1.1.2
GnuPGInterface==0.3.2
HMMEd==0.8
Jinja2==2.7.2
Kivy==1.8.0
Kivy-Garden==0.1.1
Mako==0.9.1
Markdown==2.4.1
MarkupSafe==0.18
Nautilus-scripts-manager==1.7
PAM==0.4.2
PIL==1.1.7
Pillow==2.6.1
Pivy==0.5.0
Products.ATContentTypes==2.1.14
Products.Archetypes==1.9.6
Products.CMFActionIcons==2.1.3-beta2
Products.CMFCalendar==2.3.0-beta
Products.CMFCore==2.3.0-beta2
Products.CMFDefault==2.3.0-beta2
Products.CMFDiffTool==2.1
Products.CMFDynamicViewFTI==4.0.5
Products.CMFEditions==2.2.9
Products.CMFFormController==3.0.3
Products.CMFPlone==4.3.2
Products.CMFQuickInstallerTool==3.0.6
Products.CMFUid==2.3.0-beta
Products.DCWorkflow==2.3.0-beta
Products.ExtendedPathIndex==3.1
Products.ExternalEditor==1.1.0
Products.GenericSetup==1.7.4
Products.MimetypesRegistry==2.0.5
Products.PasswordResetTool==2.0.16
Products.PlacelessTranslationService==2.0.4
Products.PloneLanguageTool==3.2.7
Products.PlonePAS==4.1.3
Products.PluggableAuthService==1.10.0
Products.PluginRegistry==1.3
Products.PortalTransforms==2.1.3
Products.ResourceRegistries==2.2.10
Products.TinyMCE==1.3.5
Products.statusmessages==4.0
PyAudio==0.2.8
PyBrain==0.3.1
PyDrive==1.0.1
PyInstaller==2.1
PyJWT==0.2.1
PyKeyboard==0.1
PyOpenGL==3.1.0b2
PyOpenGL-accelerate==3.1.0b2
PyYAML==3.11
Pygments==1.6
SOAPpy==0.12.0
SecretStorage==2.0.0
SlideShow==1.0
South==0.8.4
SpeechRecognition==1.1.2
Sphinx==1.2.2
SphinxBase==0.8
Twisted==13.2.0
Twisted-Conch==13.2.0
Twisted-Core==13.2.0
Twisted-Lore==13.2.0
Twisted-Mail==13.2.0
Twisted-Names==13.2.0
Twisted-News==13.2.0
Twisted-Runner==13.2.0
Twisted-Web==13.2.0
Twisted-Words==13.2.0
Unidecode==0.04.14
Unirest==1.1.6
Wave==0.0.2
Werkzeug==0.10.4
XlsxWriter==0.6.1
ZODB3==3.11.0a3
Zope2==2.13.21
adium-theme-ubuntu==0.3.4
ansible==1.9.3
apt-xapian-index==0.45
archetypes.querywidget==1.0.10
archetypes.referencebrowserwidget==2.4.20
argcomplete==0.8.4
argh==0.25.0
argparse==1.2.1
autopep8==1.1.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
borg.localrole==3.0.2
boto==2.38.0
buildozer==0.16-dev
bzr==2.7.0dev1
bzr-builddeb==2.8.6
ccsm==0.9.11.3
certifi==2015.04.28
chardet==2.0.1
collective.documentviewer==3.0
collective.monkeypatcher==1.0.1
collective.z3cform.datetimewidget==1.2.6
colorama==0.2.5
comar==2.4.7
command-not-found==0.3
compizconfig-python==0.9.11.3
configglue==1.1.2
configobj==4.7.2
cvxopt==1.1.4
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
demjson==1.6
dirspec==13.10
distro-info==0.12
dj-static==0.0.6
django-bootstrap3==4.11.0
django-common-helpers==0.6.1
django-cron==0.3.3
django-filter==0.7
django-gcm==1.0.5
django-mailgun==0.2.2
django-registration-redux==1.1
django-storages==1.1.8
django-tastypie==0.12.0
django-tokenapi==0.2.2
djangorestframework==2.3.14
djangorestframework-jwt==0.1.5
dnspython==1.11.1
docopt==0.4.0
docutils==0.11
dragonfly==0.6.5
dreampie==1.2.1
dropbox==2.0.0
duplicity==0.6.23
ez-setup==0.9
feedparser==5.1.3
filechunkio==1.5
five.customerize==1.1
five.localsitemanager==2.0.5
fpconst==0.7.2
gcloud==0.6.0
ghmmwrapper==0.8
google-api-python-client==1.3.2
google-apitools==0.4.8
hmmlearn==0.1a
html5lib==0.999
httpie==0.8.0
httplib2==0.9.1
ipython==3.1.0
itsdangerous==0.24
jnius==1.1-dev
jsonschema==2.4.0
keyring==3.5
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
louis==2.5.3
lpthw.web==1.1
lxml==3.3.3
mailchimp==2.0.8
matplotlib==1.3.1
mechanize==0.2.5
mercurial==2.8.2
mistune==0.5.1
netaddr==0.7.12
netifaces==0.8
numpy==1.9.1
oauth==1.0.1
oauth2client==1.4.6
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
openshot==1.4.3
paramiko==1.10.1
pathtools==0.1.2
pbr==0.10.0
pep8==1.6.2
pexpect==3.1
phablet-tools==0.1
pika==0.9.13
pisa==3.0.32
piston-mini-client==0.7.5
plone.app.blob==1.5.9
plone.app.collection==2.0b5
plone.app.content==2.1.4
plone.app.contentlisting==1.0.5
plone.app.contentmenu==2.0.10
plone.app.contentrules==3.0.6
plone.app.controlpanel==2.3.8
plone.app.customerize==1.2.2
plone.app.discussion==2.2.12
plone.app.folder==1.0.6
plone.app.form==2.2.4
plone.app.i18n==2.0.2
plone.app.jquery==1.9.1
plone.app.jquerytools==1.5.6
plone.app.layout==2.3.10
plone.app.linkintegrity==1.5.4
plone.app.locales==4.3.2
plone.app.portlets==2.5a1
plone.app.redirector==1.2
plone.app.registry==1.2.3
plone.app.search==1.1.6
plone.app.upgrade==1.3.4
plone.app.users==1.2
plone.app.uuid==1.0
plone.app.viewletmanager==2.0.4
plone.app.vocabularies==2.1.13
plone.app.workflow==2.1.7
plone.app.z3cform==0.7.6
plone.batching==1.0.1
plone.browserlayer==2.1.2
plone.contentrules==2.0.4
plone.fieldsets==2.0.2
plone.i18n==2.0.9
plone.indexer==1.0.2
plone.intelligenttext==2.0.2
plone.locking==2.0.4
plone.memoize==1.1.1
plone.portlet.collection==2.1.5
plone.portlet.static==2.0.2
plone.portlets==2.2
plone.protect==2.0.2
plone.registry==1.0.1
plone.session==3.5.3
plone.theme==2.1
plone.z3cform==0.8.0
plonetheme.classic==1.3.3
plonetheme.sunburst==1.4.5
plyer==1.2.0
poster==0.8.1
protobuf==3.0.0-alpha-1
protorpc==0.10.0
psycopg2==2.6
ptyprocess==0.5
py-w3c==0.1.1
pyOpenSSL==0.13
pyPdf==1.13
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pydns==2.3.6
pyenchant==1.6.5
pygame==1.9.1release
pygobject==3.12.0
pygpgme==0.3
pygst-utils==0.1.post5.dev205226839
pyinotify==0.9.4
pyliblzma==0.5.3
pymongo==2.7.2
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
pysparse==1.1
python-apt==0.9.3.5ubuntu1
python-crontab==1.8.1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-debianbts==1.11
python-gflags==2.0
python-libpisock==0.12.5
python-mimeparse==0.1.4
python-nmap==0.3.4
python-pipeline==0.1.3
python-pptx==0.5.2
python-uinput==0.10.1
python-wifi==0.5.0
pyttsx==1.1
pytz==2013.8
pywapi==0.3.6
pyxdg==0.25
pyzmq==14.6.0
reportbug==6.5.0
reportlab==3.0
repoze.catalog==0.8.2
requests==2.3.0
roman==2.0.0
rsa==3.1.4
scikit-learn==0.15.2
scikits.talkbox==0.2.4.dev
scipy==0.14.0
selenium==2.44.0
sessioninstaller==0.0.0
simplejson==3.6.5
six==1.9.0
software-center-aptd-plugins==0.0.0
speech==0.5.2
speech-features==0.1
speedtest-cli==0.3.1
ssh-import-id==3.21
static3==0.5.1
stevedore==1.1.0
system-service==0.1.6
terminado==0.5
tornado==4.2
transaction==1.4.1
uTidylib==0.2
ubuntu-dev-tools==0.153
uritemplate==0.6
urllib3==1.7.1
vboxapi==1.0
virtkey==0.63.0
virtualenv==1.11.5
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
vncdotool==0.1.0
vobject==0.8.1c
wadllib==1.3.2
wafw00f==0.9.2
wakeup==1.4
watchdog==0.8.1
wheel==0.24.0
wicd==1.7.2.4
wifi==0.2.0
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
xdot==0.5
xkit==0.0.0
z3c.autoinclude==0.3.5
z3c.form==3.1.0
z3c.formwidget.query==0.9
zope.app.locales==3.7.4
zope.browserpage==4.1.0a1
zope.browserresource==4.0.1
zope.component==4.2.0
zope.configuration==4.0.2
zope.container==4.0.0a3
zope.contenttype==4.0.1
zope.deferredimport==4.0.0
zope.deprecation==4.1.0
zope.dottedname==4.0.1
zope.event==4.0.2
zope.i18n==4.0.0a4
zope.i18nmessageid==4.0.2
zope.index==4.0.1
zope.interface==4.0.5
zope.location==4.0.2
zope.pagetemplate==4.0.4
zope.proxy==4.1.3
zope.publisher==4.0.0a4
zope.schema==4.4.0
zope.security==4.0.0
zope.site==4.0.0a1
zope.structuredtext==4.0.0
zope.tal==4.0.0
zope.tales==4.0.2
zope.traversing==4.0.0a3
